@using TornadoMVC.Models
@using TornadoMVC.ViewModels
@model HomeViewModel

@{
    ViewData["Title"] = "Реєстрація";
}

<script>
    class User {
        constructor(email, phone, password, firstName, surname, lastName, address, department) {
            this.id = -1;
            this.email = email;
            this.phone = phone;
            this.password = password;
            this.first_name = firstName;
            this.surname = surname;
            this.last_name = lastName;
            this.address = address;
            this.department = department;
        }
    }

    function processRegister() {
	    let email = document.getElementById('email');
        let phone = document.getElementById('phone');
        let password = document.getElementById('password');
        let firstName = document.getElementById('firstName');
        let surname = document.getElementById('surname');
        let lastName = document.getElementById('lastName');
        let address = document.getElementById('address');
        let department = document.getElementById('department');

        console.log("registering new user: " + email.value);

        user = new User(
            email.value, 
            phone.value, 
            password.value, 
            firstName.value, 
            surname.value, 
            lastName.value, 
            address.value, 
            department.value
        );

        userJSON = JSON.stringify(user);

       $.ajax({
		    type: 'POST',
			url: '@Url.Action("Register", "Auth")',
			dataType: 'json',
			data: { userJSON },
			success: function (jsonAnswerObject) {
			    console.log(jsonAnswerObject);
                let registerFormContainer = document.getElementById("registerFormContainer");
                if (jsonAnswerObject.statusCode == 200) {
                    registerFormContainer.innerHTML = '<div class="d-flex flex-column align-items-center justify-content-center">'+
        		        '<div class="alert alert-success w-75" role="alert">'+
				          '<h3>Реєстрація успішна!</h3>'+
				        '</div>'+
				        '<a class="w-50 btn btn-primary my-3 mx-auto" href="/">На головну</a>'+
        	        '</div>';
                } else {
                    registerFormContainer.innerHTML = '<div class="d-flex flex-column align-items-center justify-content-center">'+
        		        '<div class="alert alert-danger w-75" role="alert">'+
				          '<h3>Під час реєстрації виникла помилка:</h3>'+
				          jsonAnswerObject.message+
				        '</div>'+
				        '<button class="w-50 btn btn-primary my-3 mx-auto" onclick="location.reload();">Спробувати ще раз</button>'+
        	        '</div>';
                }
			},
			error: function (error) {
			    console.log("Error: " + error.value);
			}
		})

        return false;
	}

    function fillInputsDebug() {
        let email = document.getElementById('email');
        let phone = document.getElementById('phone');
        let password = document.getElementById('password');
        let passwordRepeat = document.getElementById('passwordRepeat');
        let firstName = document.getElementById('firstName');
        let surname = document.getElementById('surname');
        let lastName = document.getElementById('lastName');
        let address = document.getElementById('address');
        let department = document.getElementById('department');

        email.value = "test@gmail.com";
        phone.value = "+380123456789";
        password.value = "123456";
        passwordRepeat.value = "123456";
        firstName.value = "Name";
        surname.value = "Surname";
        lastName.value = "Lastname";
        address.value = "Address";
        department.value = "10";

        return false;
    }
</script>

<main class="container d-flex flex-column">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="~/img/short_logo.png" alt="" width="100" height="100">
        <h2>Реєстрація</h2>
    </div>

        <div class="col-8 mx-auto" id="registerFormContainer">
            <form class="needs-validation" id="registerForm" onsubmit="if (formIsValid()) return processRegister(); 
                else return false;" novalidate>
                <div class="row g-3">
                    <h4 class="mb-3">Дані аккаунту</h4>
                    <div class="col-sm-6">
                        <label for="email" class="form-label" id="emailLabel">Пошта</label>
                        <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
                        <div class="invalid-feedback">
                            Введіть коректну поштову адресу
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="phone" id='phoneLabel' class="form-label">Номер телефону</label>
                        <input type="tel" class="form-control" id="phone" placeholder="+380123456789" required>
                        <div class="invalid-feedback">
                            Введіть коректний номер
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="password" class="form-label" id="passwordLabel">Пароль</label>
                        <input type="password" class="form-control" id="password" placeholder="" required>
                        <div class="invalid-feedback">
                            Пароль має складатись мінімум із 6 символів
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="passwordRepeat" class="form-label " id="passwordRepeatLabel">Повторіть пароль</label>
                        <input type="password" class="form-control" id="passwordRepeat" placeholder="" required>
                        <div class="invalid-feedback">
                            Паролі не співпадають
                        </div>
                    </div>

                    <h4 class="mt-5">Інформація для доставки</h4>

                    <div class="col-sm-4">
                        <label for="firstName" class="form-label" id="firstNameLabel">Ім'я</label>
                        <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Введіть ім'я
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <label for="surname" class="form-label" id="surnameLabel">Прізвище</label>
                        <input type="text" class="form-control" id="surname" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Введіть прізвище
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <label for="lastName" class="form-label" id="lastNameLabel">По-батькові</label>
                        <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                        <div class="invalid-feedback">
                            Введіть по-батькові
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="address" class="form-label" id="addressLabel">Місто</label>
                        <input type="text" class="form-control" id="address" placeholder="" required="">
                        <div class="invalid-feedback">
                            Введіть місто
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="department" class="form-label" id="departmentLabel">№ відділення Нової Пошти</label>
                        <input type="text" class="form-control" id="department" placeholder="" required="">
                        <div class="invalid-feedback">
                            Вкажіть номер відділення (цифрою)
                        </div>
                    </div>
                </div>
                <!--<button onclick="return fillInputsDebug()">FILL INPUTS CORRECT WAY</button>-->
                <button class="w-100 btn btn-primary btn-lg my-5" type="submit">Зареєструватися</button>
            </form>
        </div>
</main>

<script src="~/js/validation.js"></script>