@using TornadoMVC.Models
@using TornadoMVC.ViewModels
@model HomeViewModel

@{
    ViewData["Title"] = "Вхід";
}

<main class="container d-flex flex-column">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="~/img/short_logo.png" alt="" width="100" height="100">
        <h2>Вхід</h2>
    </div>

        <div class="col-8 mx-auto">
            <form class="needs-validation" id="registerForm" onsubmit="return formIsValid()" novalidate>
                <div class="col-sm-6 mx-auto mb-3">
                    <label for="email" class="form-label" id="emailLabel">Пошта</label>
                    <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
                    <div class="invalid-feedback">
                        Такого акаунту не існує
                    </div>
                </div>
                <div class="col-sm-6 mx-auto">
                    <label for="password" id='phoneLabel' class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="password" placeholder="" required>
                    <div class="invalid-feedback">
                        Невірний пароль
                    </div>
                </div>
                
                <div class="d-flex justify-content-center">
                    <button class="w-25 btn btn-primary btn-lg my-5" type="submit">Увійти</button>
                </div>
            </form>
        </div>
</main>

<script src="~/js/validation.js"></script>