@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    #profile-info tr {
    	height: 100px!important;
    }
</style>

<main class="container d-flex flex-column pb-5">
	<h2 class="mt-5">Мій профіль</h2>
    <table class="table table-borderless mt-4" id="profile-info">
        <tbody>
		    <tr>
		      <td>
		      	<p class="text-muted fs-6 my-2">Прізвище</p>
		      	<span>Зеленський</span>
		      </td>
		      <td>
		      	<p class="text-muted fs-6 my-2">Ім'я</p>
		      	<span>Володимир</span>
		      </td>
		      <td>
		      	<p class="text-muted fs-6 my-2">По-батькові</p>
		      	<span>Александрович</span>
		      </td>
		    </tr>
		    <tr>
		      <td>
		      	<p class="text-muted fs-6 my-2">Номер телефону</p>
		      	<span>+3801234567890</span>
		      </td>
		      <td>
		      	<p class="text-muted fs-6 my-2">Пошта</p>
		      	<span>example@mail.net</span>
		      </td>
		      <td>
		      	<p class="text-muted fs-6 my-2">Пароль</p>
		      	<span><a href="#">Змінити пароль</a></span>
		      </td>
		    </tr>
		</tbody>
    </table>

    <div class="mt-5 d-flex flex-row justify-content-between">
    	<div class="">
    		<h2>Адреса доставки</h2>
    	</div>
    	<div class="">
    		<button class="btn btn-success">Редагувати</button>
    	</div>
    </div>
    <p class="text-muted fs-6 mt-0 mb-3">(дані за замовчуванням)</p>
    <div class="row">
    	<div class="col m-6">
    		<p class="text-muted fs-6 my-2">Місто</p>
		    <span>Київ</span>
    	</div>
    	<div class="col m-6">
    		<p class="text-muted fs-6 my-2">№ відділення Нової пошти</p>
		    <span>10</span>
    	</div>
    </div>
</main>
