@using TornadoMVC.Models
@using TornadoMVC.ViewModels
@model HomeViewModel

@{
    ViewData["Title"] = "Головна";
}

<main>
<div class="flex-shrink-0 p-3 bg-white border border-bottom-0 border-top-0" style="width: 280px; min-height: 100%;">
		    <ul class="list-unstyled ps-0">
		      <li class="mb-1">
		        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
		          Товары
		        </button>
		        <div class="collapse show" id="home-collapse">
		          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
					  @foreach (Category item in Model.Categories) {
						  <li><a href="#" class="link-dark rounded">@item.Name</a></li>
					  }
		          </ul>
		        </div>
		      </li>
		      <li class="mb-1">
		        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
		          Оплата и доставка
		        </button>
		        <div class="collapse" id="dashboard-collapse">
		          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
		            <li><a href="#" class="link-dark rounded">Overview</a></li>
		            <li><a href="#" class="link-dark rounded">Weekly</a></li>
		            <li><a href="#" class="link-dark rounded">Monthly</a></li>
		            <li><a href="#" class="link-dark rounded">Annually</a></li>
		          </ul>
		        </div>
		      </li>
		      <li class="mb-1">
		        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
					Информация о компании
		        </button>
		        <div class="collapse" id="orders-collapse">
		          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
					<li><a href="about/about.html" class="link-dark rounded">О нас</a></li>
		            <li><a href="#" class="link-dark rounded">Контакты</a></li>
		          </ul>
		        </div>
		      </li>
		      <li class="mb-1">
		        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
					Помощь
		        </button>
		        <div class="collapse" id="account-collapse">
		          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
		            <li><a href="#" class="link-dark rounded">Доставка и оплата</a></li>
		            <li><a href="#" class="link-dark rounded">Гарантия</a></li>
		            <li><a href="#" class="link-dark rounded">Возврат товара</a></li>
		          </ul>
		        </div>
		      </li>
		    </ul>
		</div>
		<div class="album py-3 px-4 bg-light">
			<div class="container">`
			  <div class="row">
				<h2 class="mb-4">Акции:</h2>
				<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
					  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					  <!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
					  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
					</div>
					<div class="carousel-inner">
					  <div class="carousel-item active">
						<img src="img/sale_empty_banner.png" class="d-block w-100" alt="...">
						<div class="carousel-caption d-none d-md-block">
						  <!-- <h5>First slide label</h5>
						  <p>Some representative placeholder content for the first slide.</p> -->
						</div>
					  </div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
					  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					  <span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
					  <span class="carousel-control-next-icon" aria-hidden="true"></span>
					  <span class="visually-hidden">Next</span>
					</button>
				</div>
				<div class="row">
					<h2 class="my-5">Товары, пользующиеся спросом:</h2>
					@foreach (Product item in Model.Products) {
						<div class="col-md-4" >
						<a style="min-height:4em;" class="card mb-4 box-shadow text-decoration-none text-dark" href="https://google.com">
						  <img class="mx-auto my-4" src="@item.image_url" width="150">
						  <div class="card-body">
						  <p class="card-text" style="min-height:4.5em;">@item.Name</p>
						  <div class="d-flex flex-row justify-content-between align-flex-end">
							<h3>@Math.Round(item.cost, 2) ₴</h3>
							<button class="btn d-flex align-items-center color-green">
								<svg class="bi" width="30" height="30"><use xlink:href="#cart"></use></svg>
							</button>
						  </div>
						  </div>
						</a>
						</div>
					  }
		  	</div>
		  </div>
		</div>
</div>
</main>